

        <h2>Informacion de la adopcion</h2>
        <!--<img src="http://homeformeapi.localhost/{{animal.profileimage}}" width="200" height="200" id="pi">  -->


        <h3><small>nombres: </small>{{animal.adoption.names}}</h3>
        <h4><small>genero: </small>{{animal.adoption.lastName}}</h4>
        <h4><small>especie: </small>{{animal.adoption.idPerson}}</h4>
        <h4><small>raza: </small>{{animal.adoption.birthDate}}</h4>


        <h4><small>fecha de llegada: </small>{{animal.adoption.address}}</h4>
        <h4><small>estado en el que llego: </small>{{animal.adoption.housingType}}</h4>
        <h4><small>descripcion general: </small>{{animal.adoption.cellPhone}}</h4>
        <h4><small>zona procedencia: </small>{{animal.adoption.email}}</h4>
        <h4><small>calle procedencia: </small>{{animal.adoption.docs}}</h4>





