<style>

    .row
    {
        margin-right: 0%;
        margin-left: 0%;
    }
    .form-group
    {
        padding-left: 5%;
        padding-right: 5%;
    }

    textarea
    {
        resize: none;
        width: 100%
    }
</style>

<form class="form-horizontal" role="form" ng-submit="editAnimal()" >

    <div class="row" >
        <div class="col-md-4" style="margin-top: 5%">
            <div class="row">
                <img  src="resources/drawables/catdog.jpg" style="width: 100%;height: 100%">
            </div>
            <div class="row">
                <br>
                <br>
                <h3>Editar informacion</h3>
                <h5>Editar la informacion de manera responsable.</h5>
            </div>
            <div class="row">
                <button class="btn btn-success" type="submit">
                    <h4>
                        Guardar cambios
                    </h4>
                </button>
            </div>

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">Informacion del animalito</div>
                    <div class="panel-body" >
                        <div class="row">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input class="form-control" type="text" id="name" ng-model="animal.name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="padding-left:4%">
                                <div class="form-group">
                                    <label for="gender">Genero</label>
                                    <select id="gender" class="form-control" ng-model="animal.gender">
                                        <option value="F">F</option>
                                        <option value="M">M</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8"  style="padding-right: 2%">
                                <div class="form-group">
                                    <label for="species_id">Especie</label>
                                    <select id="species_id" class="form-control" ng-controller="SpeciesListController" ng-model="animal.species_id">
                                        <option ng-repeat="specie in species" value="{{specie.id}}">
                                            {{specie.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">

                <div class="panel panel-primary">
                    <div class="panel-heading">Informacion de la persona encargada</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="responsiblePerson">Persona responsable</label>
                            <input class="form-control" type="text" id="responsiblePerson" ng-model="animal.responsiblePerson">
                        </div>
                        <div class="form-group">
                            <label for="responsiblePersonContact">Numero de contacto</label>
                            <input class="form-control" type="text" id="responsiblePersonContact" ng-model="animal.responsiblePersonContact">
                        </div>
                        <div class="form-group">
                            <label for="responsiblePersonType">La persona es</label>
                            <select id="responsiblePersonType" class="form-control" ng-model="animal.responsiblePersonType">
                                <option value="1">Ciudadano</option>
                                <option value="2">Dueno</option>
                                <option value="3">Voluntario</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-md-4">
            <div class="panel panel-primary" style="height: 500px;">
                <div class="panel-heading">Informacion del estado inicial</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="arrivalState">Llego en condicion de</label>
                        <select id="arrivalState" class="form-control" ng-model="animal.arrivalState">
                            <option value="1">Perdido</option>
                            <option value="2">Abandonado</option>
                            <option value="3">Rescatado</option>
                            <option value="4">Entregado voluntariamente</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="arrivalDate">Fecha de llegada</label>
                        <input id="arrivalDate" type="date" class="form-control" ng-model="animal.arrivalDate">
                    </div>
                    <div class="form-group" >
                        <label for="generalDescription">Descripcion general</label>
                        <textarea id="generalDescription" rows="7" placeholder="Descripcion" ng-model="animal.generalDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="foundAddress">Direccion donde fue hallado</label>
                        <textarea  id="foundAddress" rows="2" placeholder="Direccion donde fue hallado" ng-model="animal.foundAddress" ></textarea>
                    </div>
                </div>
            </div>

        </div>

    </div>


</form>
