<style>

.jumb{
    margin-left: -20px;
    margin-top: -25px;
    margin-right: -20px;
    height: 100px;

}
.crop {

    height: 500px;
    overflow: hidden;
}

.crop img {
        
    height: 600px;
    margin: 0 0 0 0px;
}
#text
{
    z-index:100;
    position:absolute;
    color:white;
    width: 500px;
    left: 65%;
    top:250px;
}
</style>
<div class="jumb crop" >

    <img src="resources/dogui5.jpg" style="width:100%">
    <h2 id="text" >Ayudando a encontrar nuevos hogares.
        <br>
        <br>
        <button class="btn btn-info">
            Mas informacion
        </button>
    </h2>

</div>